---
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import Hero from "../../components/Hero.astro";
import LatestProject from "../../components/LatestProject.astro";
import "../../styles/global.css";
import { copy } from "../../data/i18n.js";
import Navbar from "../../components/Navbar.astro";

const lang = "en";
const c = copy[lang];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{c.siteTitle}</title>
    <meta name="description" content={c.metaDescription} />
  </head>

  <body class="font-sans text-text bg-bg flex flex-col min-h-screen">
    <Header lang={lang} />

    <main id="main">
      <Navbar></Navbar>
      <Hero copy={c.hero} about={c.about} />
      <LatestProject copy={c.latestProject} />
    </main>

    <Footer lang={lang} />

    <script type="module" src="/scripts/ui.js"></script>
  </body>
</html>
